<% if @blogger%>
<div class="col-md-6">
	<img src="http://www.webdesignmash.com/trial/wp-content/uploads/2010/07/action-photography15.jpg" alt="..." class="img-responsive img-circle">
</div>
<div class="col-md-6">
	<h1><%= @blogger['first_name']%> <%= @blogger['last_name']%></h1>
	<p><%= @blogger['short_description']%></p>
	<div class="quotation">"<%= @blogger['quote']%>"</div>
	<div class="col-md-12 extra-padding">
		<!-- LinkedIn -->
		<a href="https://linkedin.com/in/baejjh">
			<%= image_tag('aquicon/linkedin.png',
				alt: "linkedin",
				class: "social-icon")
			%>
		</a>
		<!-- Email -->
		<a href="#">
			<%= image_tag('aquicon/e-mail.png',
				alt: "e-mail",
				class: "social-icon")
			%>
		</a>
		<!-- GitHub -->
		<a href="https://github.com/baejjh">
			<%= image_tag('aquicon/github.png',
				alt: "github",
				class: "social-icon")
			%>
		</a>
		<!-- Twitter -->
		<a href="https://twitter.com/baejjh">
			<%= image_tag('aquicon/twitter.png',
				alt: "twitter",
				class: "social-icon")
			%>
		</a>
	</div>
</div>
<% end %>