<!DOCTYPE html>
<html>
<head>
  	<title>Totally</title>
  	<%= stylesheet_link_tag    'application', media: 'screen', 'data-turbolinks-track' => true %>
  	<%= stylesheet_link_tag    'mains', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<%= csrf_meta_tags %>
  	<!-- Fonts -->
  	<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
</head>

<body>
	<div class="container text-center col-md-8 col-md-offset-2" id="main-div">

		<!-- Header Bar -->
		<ul class="nav nav-tabs">
		  	<li role="presentation" class="nav-tab-color <%= 'active' if current_page?(root_path)%>">
		  		<a href="/">Home</a>
		  	</li>
		  	<li role="presentation" class="nav-tab-color <%= 'active' if current_page?('/about')%>">
		  		<a href="/about">About</a>
		  	</li>
		  	<li role="presentation" class="nav-tab-color <%= 'active' if current_page?('/journey')%>">
		  		<a href="/journey">Journey</a>
		  	</li>
		  	<li role="presentation" class="nav-tab-color <%= 'active' if current_page?('destination')%>">
		  		<a href="/destination">Destination</a>
		  	</li>
		</ul><!-- /Header Bar -->

		<!-- Main Content -->
		<div class="col-md-12 sub-div">
			<%= yield %>
		</div><!-- /Main Content -->
	</div>

	<!-- /Footer Bar -->
	<div id="footer" class="col-md-12 col-xs-12 text-center">
		<a href="/login">Login</a> as the Blogger.
		Interested in making a blog? Contact the <a href="/about">Blogger</a>.
	</div><!-- /Footer Bar -->						
</body>
</html>